/*form*/
.dropdownmenu {
  width: 70px;
  height: 30px;
}
#form {
  margin:10px auto;
  text-align: center;
  width: 600px;
  height: 65px;
  border: solid;
  border-radius: 4px;
  border-color: #cce5ff;
  background-color: #fefefe;
}
select {
  font-size: 20px;
}
#maxseats {
  color: orange;
}
.mijisso {
  color: red;
}
/*form*/
.dropdownmenu {
  width: 70px;
  height: 30px;
}
#form {
  margin:10px auto;
  text-align: center;
  width: 600px;
  height: 65px;
  border: solid;
  border-radius: 4px;
  border-color: #cce5ff;
  background-color: #fefefe;
}
select {
  font-size: 20px;
}
#maxseats {
  color: orange;
}
.mijisso {
  color: red;
}
#seatArrange .row li {
    width: 100%;
    max-width: 100px;
    height: 50px;
    box-sizing: border-box;
    border-top: 2px solid #f7f7f7;
    border-left: 2px solid #f7f7f7;
    border-right: 2px solid #f7f7f7;
    border-bottom: 2px solid #f7f7f7;
}
#seatArrange .row ul {
    flex-wrap: nowrap;
    min-height: 40px;
}
#seatArrange input:checked + label {
    background-color: #bc7aca;

}
#seatArrange .row li label {
    display: block;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
}
li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
}
#seatArrange {
    float: right;
    max-width: calc(100% - 24px);
    width: 100%;
}
ul {
    list-style: none;
}
input[type="checkbox"] {
    display: none;
}
/*seatArrange*/
#seatArrange {
  margin: 15px auto;
}
ul {
  margin: 30px auto;
  padding: auto 40px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
#seatArrange li {
  background-color: #000000;
  padding: 15px 40px;
  display: inline;
  border: solid 2px;
  border-color: #99caff;
  cursor: pointer;
  cursor: hand;
}
input {
  width: 20px;
  height: 10px;
  position: relative;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + label {
  background-color: #4169e1;
}
input[type="checkbox"]:checked + li {
  background-color: #ff7f50;
}
.label {
  margin: 3px 2px;
  width: 20px;
  height: 10px;
  cursor:pointer;
  border:1px;
}
div {
 text-align: center;
}
