/*form*/
.dropdownmenu {
  width: 70px;
  height: 30px;
}
#form {
  margin:10px auto;
  text-align: center;
  width: 600px;
  height: 65px;
  border: solid;
  border-radius: 4px;
  border-color: #cce5ff;
  background-color: #fefefe;
}
select {
  font-size: 20px;
}
#maxseats {
  color: orange;
}
.mijisso {
  color: red;
}

/*seatArrange*/
#seatArrange {
  margin: 15px auto;
}
ul {
  margin: 30px auto;
  padding: auto 40px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
#seatArrange li {
  background-color: #ffffff;
  padding: 15px 40px;
  display: inline;
  border: solid 2px;
  border-color: #99caff;
  cursor: pointer;
  cursor: hand;
}
input {
  width: 20px;
  height: 10px;
  position: relative;
}
input[type="checkbox"]:checked + label {
    background-color: blue;
}
input[type="checkbox"] {
    display: none;
}
