<html>
<style>
        .box-shadow {
        box-shadow: 0 0 3px 3px rgba(170,170,170,0.5);
      }
      [v-cloak] {
        display: none;
      }
      .cursor-pointer {
        cursor: pointer;
      }
      /* v-checkboxのテキストカラー */
      .theme--light.v-label {
        color: rgba(0,0,0,0.75);
      }
  </style>
<head></head>
<body>
      <v-card outlined color="#0BB3BF" class="box-shadow rounded-xl" style="color: #FFFFFF;" :class="{'right-card-margin-large': seatsSizeX!=8, 'right-card-margin-small': seatsSizeX==8}"
          data-intro="調整が必要であれば、座席をつかんで入れ替えることができます。" data-title="5. 最終調整！" data-position="left" data-step="5">
            <v-card-title class="justify-center text-h4" style="font-weight: 900; margin-left: 20px;">席替え後
              <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                  <v-icon color="#005b69" style="margin-left: 5px; padding-bottom: 10px;" v-bind="attrs" v-on="on">mdi-information-outline</v-icon>
                </template>
                <span>座席をつかんで入れ替えることができます</span>
              </v-tooltip>
            </v-card-title>
            <template v-if="isRenderNextSeatsTable">
              <div class="center" style="margin-left: 2px;">
                <transition-group name="transition-item" type="transition">
                  <template v-for="( nextSeats, nextIndexRow ) in nextSeatsTable" >
                    <template v-for="( nextSeat, nextIndexCol ) in nextSeats">
                      <span :id="'nextSeatsRow' + nextIndexRow + nextIndexCol" class="sortable-item transition-item square minus-margin-bottom" :key="uniqueKey(nextSeat, nextIndexRow, nextIndexCol)">
                        <input type="text" class="sortable-item"
                        :class="['seat', getColorByName(nextSeatsTable[nextIndexRow][nextIndexCol], 1, 1)]"
                        style="text-align: center;  resize: none; word-break: keep-all; vertical-align: top; font-size: 22px; font-weight: 600;"
                        :value="nextSeatsTable[nextIndexRow][nextIndexCol]"
                        @input="testMethod2(nextIndexCol, nextIndexRow, $event.target.value )">
                      </span>
                      <span :class="{'margin-right': (nextIndexCol+1)%groupSizeX==0}" :key="'nextSeatsSpan' + (nextIndexRow*seatsSizeX+nextIndexCol)"></span>
                    </template>
                    <div :class="{'margin-bottom': (nextIndexRow+1)%groupSizeY==0}" :key="'nextSeatsDiv' + (nextIndexRow)"></div>
                  </template>
                </transition-group>
              </div>
            </template>
            <div class="card-bottom"></div>
          </v-card></body>
</html>
